<div id="--gear:weapon-__INDEX__" class="--gear:weapon flex flex-col gap-2">
    <div class="flex">
        <div class="w-100">
            <div class="flex flex-between">
                <label class="top">Weapon</label>
                <button class="--gear:weapon-__INDEX__-removebutton">X</button>
            </div>
            <label><input type="text" class="--field" id="--field:gear-weapon-__INDEX__-name"></label>
        </div>
    </div>
    <div class="flex text-secondary gap-1">
        <div class="flex-grow flex-shrink">
            <label class="top">Attack Bonus</label>
            <label><input type="text" class="--field" id="--field:gear-weapon-__INDEX__-bonus"></label>
        </div>
        <div class="flex-grow flex-shrink">
            <label class="top">Damage</label>
            <label><input type="text" class="--field" id="--field:gear-weapon-__INDEX__-damage"></label>
        </div>
        <div class="w-20">
            <label class="top">Critical</label>
            <label><input type="text" class="--field" id="--field:gear-weapon-__INDEX__-crit"></label>
        </div>
    </div>
    <div class="flex text-secondary gap-1">
        <div class="flex-grow flex-shrink">
            <label class="top">Type</label>
            <label><input type="text" class="--field" id="--field:gear-weapon-__INDEX__-type"></label>
        </div>
        <div class="flex-grow flex-shrink">
            <label class="top">Range</label>
            <label><input type="text" class="--field" id="--field:gear-weapon-__INDEX__-range"></label>
        </div>
        <div class="flex-grow flex-shrink">
            <label class="top">Ammunition</label>
            <label><input type="text" class="--field" id="--field:gear-weapon-__INDEX__-ammo"></label>
        </div>
    </div>
    <hr>
</div>