<div>
  <fieldset data-modalpath="bio-size" class="--modal modal" disabled="disabled">
    <div class="modal-topbar">
      <div>Size</div>
      <div data-modalpath="bio-size" class="--modal-closebutton modal-closebutton">X</div>
    </div>
    <div class="modal-body">
      <label class="top">Size Name</label>
      <label><input type="text" class="--field"></label>
      <hr>
      <div class="flex flex-col gap-4">
        <div class="health-container flex-shrink">
          <label><input type="text" class="--field field-health text-center"></label>
          <div class="label text-secondary text-center">Size Modifier</div>
        </div>
        <button class="button">Done</button>
      </div>
    </div>
  </fieldset>
</div>