<div>
    <fieldset data-modalpath="stats-initiative" class="--modal modal" disabled="disabled">
        <div class="modal-topbar">
            <div>Initiative Modifier</div>
            <div data-modalpath="stats-initiative" class="--modal-closebutton modal-closebutton">X</div>
        </div>
        <div class="modal-body">
            <table class="table-abilities w-100 table-ability-scores text-center">
                <thead>
                <tr class="text-secondary">
                    <td>
                        DEX
                    </td>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        <label><input type="text" class="--field field-number"></label>
                    </td>
                </tr>
                </tbody>
            </table>
            <hr>
            <div class="grid grid-misc-rows">
                <div class="grid grid-misc-cols">
                    <div>Miscellaneous Name</div>
                    <div class="text-center">Mod.</div>
                </div>
                <div class="grid grid-misc-cols">
                    <label><input type="text" class="--field"></label>
                    <label><input type="text" class="--field field-number"></label>
                </div>
                <div class="grid grid-misc-cols">
                    <label><input type="text" class="--field"></label>
                    <label><input type="text" class="--field field-number"></label>
                </div>
            </div>
            <hr>
            <div class="flex flex-col gap-4">
                <div class="health-container flex-shrink">
                    <label><input type="text" class="--field field-health text-center"></label>
                    <div class="label text-secondary text-center">Final Initiative Modifier</div>
                </div>
                <button class="button">Enter</button>
            </div>
        </div>
    </fieldset>

    <fieldset data-modalpath="stats-armorclass-general" class="--modal modal" disabled="disabled">
        <div class="modal-topbar">
            <div>Armor Class - General</div>
            <div data-modalpath="stats-armorclass-general" class="--modal-closebutton modal-closebutton">X</div>
        </div>
        <div class="modal-body">
            <table class="table-abilities w-100 table-ability-scores text-center">
                <thead>
                <tr class="text-secondary">
                    <td>
                        Base
                    </td>
                    <td>
                        Items
                    </td>
                    <td>
                        DEX
                    </td>
                    <td>
                        Size
                    </td>
                    <td>
                        Natural
                    </td>
                    <td>
                        Deflection
                    </td>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        <label><input type="text" class="--field field-number"></label>
                    </td>
                    <td>
                        <label><input type="text" class="--field field-number"></label>
                    </td>
                    <td>
                        <label><input type="text" class="--field field-number"></label>
                    </td>
                    <td>
                        <label><input type="text" class="--field field-number"></label>
                    </td>
                    <td>
                        <label><input type="text" class="--field field-number"></label>
                    </td>
                    <td>
                        <label><input type="text" class="--field field-number"></label>
                    </td>
                </tr>
                </tbody>
            </table>
            <hr>
            <div class="grid grid-misc-rows">
                <div class="grid grid-misc-cols">
                    <div>Item Name</div>
                    <div class="text-center">Mod.</div>
                </div>
                <div class="grid grid-misc-cols">
                    <label><input type="text" class="--field"></label>
                    <label><input type="text" class="--field field-number"></label>
                </div>
                <div class="grid grid-misc-cols">
                    <label><input type="text" class="--field"></label>
                    <label><input type="text" class="--field field-number"></label>
                </div>
            </div>
            <hr>
            <div class="grid grid-misc-rows">
                <div class="grid grid-misc-cols">
                    <div>Miscellaneous Name</div>
                    <div class="text-center">Mod.</div>
                </div>
                <div class="grid grid-misc-cols">
                    <label><input type="text" class="--field"></label>
                    <label><input type="text" class="--field field-number"></label>
                </div>
                <div class="grid grid-misc-cols">
                    <label><input type="text" class="--field"></label>
                    <label><input type="text" class="--field field-number"></label>
                </div>
            </div>
            <hr>
            <div class="flex flex-col gap-4">
                <div class="health-container flex-shrink">
                    <label><input type="text" class="--field field-health text-center"></label>
                    <div class="label text-secondary text-center">Final Armor Class</div>
                </div>
                <button class="button">Enter</button>
            </div>
        </div>
    </fieldset>
    <fieldset data-modalpath="stats-armorclass-touch" class="--modal modal" disabled="disabled">
        <div class="modal-topbar">
            <div>Armor Class - Touch</div>
            <div data-modalpath="stats-armorclass-touch" class="--modal-closebutton modal-closebutton">X</div>
        </div>
        <div class="modal-body">
            <table class="table-abilities w-100 table-ability-scores text-center">
                <thead>
                <tr class="text-secondary">
                    <td>
                        Base
                    </td>
                    <td>
                        DEX
                    </td>
                    <td>
                        Size
                    </td>
                    <td>
                        Deflection
                    </td>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        <label><input type="text" class="--field field-number"></label>
                    </td>
                    <td>
                        <label><input type="text" class="--field field-number"></label>
                    </td>
                    <td>
                        <label><input type="text" class="--field field-number"></label>
                    </td>
                    <td>
                        <label><input type="text" class="--field field-number"></label>
                    </td>
                </tr>
                </tbody>
            </table>
            <hr>
            <div class="grid grid-misc-rows">
                <div class="grid grid-misc-cols">
                    <div>Miscellaneous Name</div>
                    <div class="text-center">Mod.</div>
                </div>
                <div class="grid grid-misc-cols">
                    <label><input type="text" class="--field"></label>
                    <label><input type="text" class="--field field-number"></label>
                </div>
                <div class="grid grid-misc-cols">
                    <label><input type="text" class="--field"></label>
                    <label><input type="text" class="--field field-number"></label>
                </div>
            </div>
            <hr>
            <div class="flex flex-col gap-4">
                <div class="health-container flex-shrink">
                    <label><input type="text" class="--field field-health text-center"></label>
                    <div class="label text-secondary text-center">Final Armor Class</div>
                </div>
                <button class="button">Enter</button>
            </div>
        </div>
    </fieldset>
    <fieldset data-modalpath="stats-armorclass-flatfooted" class="--modal modal" disabled="disabled">
        <div class="modal-topbar">
            <div>Armor Class - Flat-footed</div>
            <div data-modalpath="stats-armorclass-flatfooted" class="--modal-closebutton modal-closebutton">X</div>
        </div>
        <div class="modal-body">
            <table class="table-abilities w-100 table-ability-scores text-center">
                <thead>
                <tr class="text-secondary">
                    <td>
                        Base
                    </td>
                    <td>
                        Items
                    </td>
                    <td>
                        Size
                    </td>
                    <td>
                        Natural
                    </td>
                    <td>
                        Deflection
                    </td>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        <label><input type="text" class="--field field-number"></label>
                    </td>
                    <td>
                        <label><input type="text" class="--field field-number"></label>
                    </td>
                    <td>
                        <label><input type="text" class="--field field-number"></label>
                    </td>
                    <td>
                        <label><input type="text" class="--field field-number"></label>
                    </td>
                    <td>
                        <label><input type="text"  class="--field field-number"></label>
                    </td>
                </tr>
                </tbody>
            </table>
            <hr>
            <div class="grid grid-misc-rows">
                <div class="grid grid-misc-cols">
                    <div>Item Name</div>
                    <div class="text-center">Mod.</div>
                </div>
                <div class="grid grid-misc-cols">
                    <label><input type="text" class="--field"></label>
                    <label><input type="text" class="--field field-number"></label>
                </div>
                <div class="grid grid-misc-cols">
                    <label><input type="text" class="--field"></label>
                    <label><input type="text" class="--field field-number"></label>
                </div>
            </div>
            <hr>
            <div class="grid grid-misc-rows">
                <div class="grid grid-misc-cols">
                    <div>Miscellaneous Name</div>
                    <div class="text-center">Mod.</div>
                </div>
                <div class="grid grid-misc-cols">
                    <label><input type="text" class="--field"></label>
                    <label><input type="text" class="--field field-number"></label>
                </div>
                <div class="grid grid-misc-cols">
                    <label><input type="text" class="--field"></label>
                    <label><input type="text" class="--field field-number"></label>
                </div>
            </div>
            <hr>
            <div class="flex flex-col gap-4">
                <div class="health-container flex-shrink">
                    <label><input type="text" class="--field field-health text-center"></label>
                    <div class="label text-secondary text-center">Final Armor Class</div>
                </div>
                <button class="button">Enter</button>
            </div>
        </div>
    </fieldset>

    <fieldset data-modalpath="stats-throws-fortitude" class="--modal modal" disabled="disabled">
        <div class="modal-topbar">
            <div>Saving Throw - Fortitude</div>
            <div data-modalpath="stats-throws-fortitude" class="--modal-closebutton modal-closebutton">X</div>
        </div>
        <div class="modal-body">
            <table class="table-abilities w-100 table-ability-scores text-center">
                <thead>
                <tr class="text-secondary">
                    <td>
                        Base
                    </td>
                    <td>
                        CON
                    </td>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        <label><input type="text" class="--field field-number"></label>
                    </td>
                    <td>
                        <label><input type="text" class="--field field-number"></label>
                    </td>

                </tr>
                </tbody>
            </table>
            <hr>
            <div class="grid grid-misc-rows">
                <div class="grid grid-misc-cols">
                    <div>Temporary Name</div>
                    <div class="text-center">Mod.</div>
                </div>
                <div class="grid grid-misc-cols">
                    <label><input type="text" class="--field"></label>
                    <label><input type="text" class="--field field-number"></label>
                </div>
                <div class="grid grid-misc-cols">
                    <label><input type="text" class="--field"></label>
                    <label><input type="text" class="--field field-number"></label>
                </div>
            </div>
            <hr>
            <div class="grid grid-misc-rows">
                <div class="grid grid-misc-cols">
                    <div>Miscellaneous Name</div>
                    <div class="text-center">Mod.</div>
                </div>
                <div class="grid grid-misc-cols">
                    <label><input type="text" class="--field"></label>
                    <label><input type="text" class="--field field-number"></label>
                </div>
                <div class="grid grid-misc-cols">
                    <label><input type="text" class="--field"></label>
                    <label><input type="text" class="--field field-number"></label>
                </div>
            </div>
            <hr>
            <div class="flex flex-col gap-4">
                <div class="health-container flex-shrink">
                    <label><input type="text" class="--field field-health text-center"></label>
                    <div class="label text-secondary text-center">Final Armor Class</div>
                </div>
                <button class="button">Enter</button>
            </div>
        </div>
    </fieldset>
    <fieldset data-modalpath="stats-throws-reflex" class="--modal modal" disabled="disabled">
        <div class="modal-topbar">
            <div>Saving Throw - Reflex</div>
            <div data-modalpath="stats-throws-reflex" class="--modal-closebutton modal-closebutton">X</div>
        </div>
        <div class="modal-body">
            <table class="table-abilities w-100 table-ability-scores text-center">
                <thead>
                <tr class="text-secondary">
                    <td>
                        Base
                    </td>
                    <td>
                        DEX
                    </td>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        <label><input type="text" class="--field field-number"></label>
                    </td>
                    <td>
                        <label><input type="text" class="--field field-number"></label>
                    </td>

                </tr>
                </tbody>
            </table>
            <hr>
            <div class="grid grid-misc-rows">
                <div class="grid grid-misc-cols">
                    <div>Temporary Name</div>
                    <div class="text-center">Mod.</div>
                </div>
                <div class="grid grid-misc-cols">
                    <label><input type="text" class="--field"></label>
                    <label><input type="text" class="--field field-number"></label>
                </div>
                <div class="grid grid-misc-cols">
                    <label><input type="text" class="--field"></label>
                    <label><input type="text" class="--field field-number"></label>
                </div>
            </div>
            <hr>
            <div class="grid grid-misc-rows">
                <div class="grid grid-misc-cols">
                    <div>Miscellaneous Name</div>
                    <div class="text-center">Mod.</div>
                </div>
                <div class="grid grid-misc-cols">
                    <label><input type="text" class="--field"></label>
                    <label><input type="text" class="--field field-number"></label>
                </div>
                <div class="grid grid-misc-cols">
                    <label><input type="text" class="--field"></label>
                    <label><input type="text" class="--field field-number"></label>
                </div>
            </div>
            <hr>
            <div class="flex flex-col gap-4">
                <div class="health-container flex-shrink">
                    <label><input type="text" class="--field field-health text-center"></label>
                    <div class="label text-secondary text-center">Final Armor Class</div>
                </div>
                <button class="button">Enter</button>
            </div>
        </div>
    </fieldset>
    <fieldset data-modalpath="stats-throws-will" class="--modal modal" disabled="disabled">
        <div class="modal-topbar">
            <div>Saving Throw - Will</div>
            <div data-modalpath="stats-throws-will" class="--modal-closebutton modal-closebutton">X</div>
        </div>
        <div class="modal-body">
            <table class="table-abilities w-100 table-ability-scores text-center">
                <thead>
                <tr class="text-secondary">
                    <td>
                        Base
                    </td>
                    <td>
                        WIS
                    </td>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        <label><input type="text" class="--field field-number"></label>
                    </td>
                    <td>
                        <label><input type="text" class="--field field-number"></label>
                    </td>

                </tr>
                </tbody>
            </table>
            <hr>
            <div class="grid grid-misc-rows">
                <div class="grid grid-misc-cols">
                    <div>Temporary Name</div>
                    <div class="text-center">Mod.</div>
                </div>
                <div class="grid grid-misc-cols">
                    <label><input type="text" class="--field"></label>
                    <label><input type="text" class="--field field-number"></label>
                </div>
                <div class="grid grid-misc-cols">
                    <label><input type="text" class="--field"></label>
                    <label><input type="text" class="--field field-number"></label>
                </div>
            </div>
            <hr>
            <div class="grid grid-misc-rows">
                <div class="grid grid-misc-cols">
                    <div>Miscellaneous Name</div>
                    <div class="text-center">Mod.</div>
                </div>
                <div class="grid grid-misc-cols">
                    <label><input type="text" class="--field"></label>
                    <label><input type="text" class="--field field-number"></label>
                </div>
                <div class="grid grid-misc-cols">
                    <label><input type="text" class="--field"></label>
                    <label><input type="text" class="--field field-number"></label>
                </div>
            </div>
            <hr>
            <div class="flex flex-col gap-4">
                <div class="health-container flex-shrink">
                    <label><input type="text" class="--field field-health text-center"></label>
                    <div class="label text-secondary text-center">Final Armor Class</div>
                </div>
                <button class="button">Enter</button>
            </div>
        </div>
    </fieldset>

    <fieldset data-modalpath="stats-combatmaneuver-bonus" class="--modal modal" disabled="disabled">
        <div class="modal-topbar">
            <div>Combat Maneuver - Bonus</div>
            <div data-modalpath="stats-combatmaneuver-bonus" class="--modal-closebutton modal-closebutton">X</div>
        </div>
        <div class="modal-body">
            <table class="table-abilities w-100 table-ability-scores text-center">
                <thead>
                <tr class="text-secondary">
                    <td>
                        BAB
                    </td>
                    <td>
                        STR
                    </td>
                    <td>
                        Size
                    </td>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        <label><input type="text" class="--field field-number"></label>
                    </td>
                    <td>
                        <label><input type="text" class="--field field-number"></label>
                    </td>
                    <td>
                        <label><input type="text" class="--field field-number"></label>
                    </td>
                </tr>
                </tbody>
            </table>
            <hr>
            <div class="grid grid-misc-rows">
                <div class="grid grid-misc-cols">
                    <div>Miscellaneous Name</div>
                    <div class="text-center">Mod.</div>
                </div>
                <div class="grid grid-misc-cols">
                    <label><input type="text" class="--field"></label>
                    <label><input type="text" class="--field field-number"></label>
                </div>
                <div class="grid grid-misc-cols">
                    <label><input type="text" class="--field"></label>
                    <label><input type="text" class="--field field-number"></label>
                </div>
            </div>
            <hr>
            <div class="flex flex-col gap-4">
                <div class="health-container flex-shrink">
                    <label><input type="text" class="--field field-health text-center"></label>
                    <div class="label text-secondary text-center">Final Armor Class</div>
                </div>
                <button class="button">Enter</button>
            </div>
        </div>
    </fieldset>
    <fieldset data-modalpath="stats-combatmaneuver-defence" class="--modal modal" disabled="disabled">
        <div class="modal-topbar">
            <div>Combat Maneuver - Defence</div>
            <div data-modalpath="stats-combatmaneuver-defence" class="--modal-closebutton modal-closebutton">X</div>
        </div>
        <div class="modal-body">
            <table class="table-abilities w-100 table-ability-scores text-center">
                <thead>
                <tr class="text-secondary">
                    <td>
                        Base
                    </td>
                    <td>
                        BAB
                    </td>
                    <td>
                        STR
                    </td>
                    <td>
                        DEX
                    </td>
                    <td>
                        Size
                    </td>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        <label><input type="text" class="--field field-number"></label>
                    </td>
                    <td>
                        <label><input type="text" class="--field field-number"></label>
                    </td>
                    <td>
                        <label><input type="text" class="--field field-number"></label>
                    </td>
                    <td>
                        <label><input type="text" class="--field field-number"></label>
                    </td>
                    <td>
                        <label><input type="text" class="--field field-number"></label>
                    </td>
                </tr>
                </tbody>
            </table>
            <hr>
            <div class="grid grid-misc-rows">
                <div class="grid grid-misc-cols">
                    <div>Miscellaneous Name</div>
                    <div class="text-center">Mod.</div>
                </div>
                <div class="grid grid-misc-cols">
                    <label><input type="text" class="--field"></label>
                    <label><input type="text" class="--field field-number"></label>
                </div>
                <div class="grid grid-misc-cols">
                    <label><input type="text" class="--field"></label>
                    <label><input type="text" class="--field field-number"></label>
                </div>
            </div>
            <hr>
            <div class="flex flex-col gap-4">
                <div class="health-container flex-shrink">
                    <label><input type="text" class="--field field-health text-center"></label>
                    <div class="label text-secondary text-center">Final Armor Class</div>
                </div>
                <button class="button">Enter</button>
            </div>
        </div>
    </fieldset>
</div>